<div class="alert alert-primary">
    <h1 class="text-center">Testing</h1>
</div>

<div class="text-center">
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />

    <main id="carousel">
      <div class="item">
        <a class="option" routerLink="/reportes">Reportes</a>
      </div>
      <div class="item">
        <a class="option" routerLink="/expediente">Subir archivos</a>
      </div>
      <div class="item">
        <a class="option" routerLink="/reportes">Option 3</a>
      </div>
      <div class="item">
        <a class="option" routerLink="/reportes">Option 4</a>
      </div>
      <div class="item">
        <a class="option" routerLink="/reportes">Option 5</a>
      </div>
    <main>

<!-- <a class="btn btn-primary" routerLink="/reportes">Reportes</a>
<a class="btn btn-primary" routerLink="/expediente">Subir archivos</a> -->