<div class="container form-group d-grid gap-2 col-6 mx-auto mt-5">

    <form [formGroup]="formularioConsulta">
        <div class="row mb-3">
            <div class="col-lg-6 text-center">
                <label><strong>Fecha de pago:</strong></label>
                <span class="fs-4 ms-3 text-danger">*</span>
            </div>
        
            <div class="col-lg-6 text-center">
                <div class="input-group">
                    <button class="btn btn-outline-secondary bi bi-calendar" (click)="d.toggle()" type="button"></button>
                    <input
                        formControlName="fecha_pago"  
                        class="form-control"
                        placeholder="aaaa-mm-dd"
                        name="dp"
                        ngbDatepicker
                        #d="ngbDatepicker"
                    />
                </div>
            </div>
            <!-- {{formularioConsulta.value.fecha_pago | json}} -->
        </div>

        <div class="row mb-3">
            <div class="col-lg-6 text-center">
                <label><strong>Número de empleado</strong></label>
            </div>
            <div class="col-lg-6 text-center">
                <input type="text" class="form-control" formControlName="id_empleado" placeholder="Número de empleado">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-6 text-center">
                <label><strong>Of. de representacion estatal</strong></label>
            </div>
            <div class="col-lg-6 text-center">
                <select class="form-select" aria-label="Default select example" formControlName="delegacion">
                    <option value="" selected>Selecciona una Oficina</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-6 text-center">
                <label><strong>Centro de trabajo</strong></label>
            </div>
            <div class="col-lg-6 text-center">
                <select class="form-select" aria-label="Default select example" formControlName="ct">
                    <option value="" selected>Selecciona un centro de trabajo</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-6 text-center">
                <label><strong>Puesto</strong></label>
            </div>
            <div class="col-lg-6 text-center">
                <select class="form-select" aria-label="Default select example" formControlName="puesto">
                    <option value="" selected>Selecciona un puesto</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-6 text-center">
                <label><strong>Servicio</strong></label>
            </div>
            <div class="col-lg-6 text-center">
                <select class="form-select" aria-label="Default select example" formControlName="servicio">
                    <option value="" selected>Selecciona un servicio</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-6 text-center">
                <label><strong>Área generadora</strong></label>
            </div>
            <div class="col-lg-6 text-center">

                <select class="form-select" aria-label="Default select example" formControlName="area_gen">
                    <option value="" selected>Selecciona un área generadora</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        
        </div>
    </form>

    <div class="d-grid gap-2 col-6 mx-auto mt-5">
        <button class="btn btn-success d-block"
            [disabled]="formularioConsulta.invalid"
            (click)="buscar()">
            Consultar
        </button>
    </div>

    
</div>
